{% extends 'base.html' %}
{% block title %}{{ block.super }} - Change Password{% endblock %}
{% block content %}
  <form class="form-custom" method="POST" action="{% url 'accounts:password_change' %}">
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
    {% csrf_token %}
    {% include 'fields/field_password_widget.html' with input=form.old_password %}
    {% include 'fields/field_password_widget.html' with input=form.new_password1 %}
    {% include 'fields/field_password_widget.html' with input=form.new_password2 %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
  </form>
{% endblock %}
