{% extends 'base.html' %}
{% block title %}{{ block.super }} - Main{% endblock %}
{% block content %}
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>You are logged in as {{ request.user }}.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab error expedita magnam nobis sed? Architecto aspernatur atque commodi consequuntur culpa dolorem ipsum, maiores non odio pariatur perspiciatis sed ullam, velit.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:logout' %}" role="button">Log Out</a>
      </div>
    </main>
{% endblock %}
