{% extends 'base.html' %}
{% block title %}{{ block.super }} - Sign Up{% endblock %}
{% block content %}
  <form class="form-custom" method="post" action="{% url 'users:signup' %}">
    <h1 class="h3 mb-3 font-weight-normal">Sign up with</h1>
    <div class="text-center social-btn">
      <a href="{% url 'social:begin' 'github' %}" class="social-github"><i class="fa fa-github"></i>&nbsp;  GitHub</a>
      <a href="{% url 'social:begin' 'google' %}" class="social-google"><i class="fa fa-google"></i>&nbsp;  Google</a>
    </div>
    <div class="or-seperator"><b>or</b></div>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field }}
      {% if field.errors %}
        <div class="invalid-feedback">
          <ul>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    {% endfor %}
    <div class="text-center">
      By signing up, I agree to the <a href="{% url 'terms' %}">Terms of Service</a>
      and <a href="{% url 'privacy' %}">Privacy Policy</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}
