{% extends 'site.html' %}
{% block title %}{{ block.super }} - About{% endblock %}
{% block main %}
  <div class="jumbotron">
    <h1>This page contains information about this site.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab error expedita magnam nobis sed? Architecto aspernatur atque commodi consequuntur culpa dolorem ipsum, maiores non odio pariatur perspiciatis sed ullam, velit.</p>
    <a href="{% url 'index' %}">Go to main page</a>
  </div>
{% endblock %}
